<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>Welcome</title>
</head>
<body>
	<div class="Container">

		<div>
			<h1>Welcome To Prolifics Project Management System</h1>
		</div>

		<div>
			<br> <br>
		</div>

		<div class="Container">
			<ul class="list-group">
				<li class="list-group-item">
					<div align="center">
						<h2>Project Module</h2>
						<a th:href="@{/projects}" class="btn btn-lg btn-link">
							<button type="button" class="btn btn-info btn-lg">Project
								Module</button>
						</a>

					</div>
				</li>

				<br>
				<li class="list-group-item">
					<div align="center">
						<h2>Employee Module</h2>
						<a th:href="@{/employees}" class="btn btn-lg btn-link">
							<button type="button" class="btn btn-info btn-lg">Employee
								Module</button>
						</a>
					</div>
				</li>
				<br>

				<li class="list-group-item">
					<div align="center">
						<h2>Role Module</h2>
						<a th:href="@{/roles}" class="btn btn-lg btn-link">
							<button type="button" class="btn btn-info btn-lg">Role
								Module</button>
						</a>
					</div>
				</li>
			</ul>
		</div>

	</div>
</body>
</html>